* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: #252525;
}

/* HEADER */

.header{
    background-color: #252525;
    width: 100%;
    height: 80px;
    padding: 15px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img-logo {
    height: 100%;
}

.navbar {
    height: 100%;
    display: flex;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 0px 20px;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    color: white;
}

/* HERO */
.hero {
    color: white;
    max-width: 1440px;
    height: 60vh;
    padding: 15px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.hero h3{
    font-size: 0.7rem;
    font-weight: 100;

}

.hero-part2{
    width: 50%;
}

.hero-img1{
    height: 270px;
    padding-left: 85px;
}

.hero-img2{
height: 300px;
position: absolute;
}

.hero-part2>.hero-img1+.hero-img2{
    width: 30%;
    margin-left: -10%;
    margin-top: -3%;
}

.hero-part1 {
width: 50%;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
font-size: 1.3rem;
padding: 30px 40px;
gap: 30px;
letter-spacing: 1px;
}

.titulo {
    margin-bottom: 20px;

}

#buscador {
    background-color: #2B2B2C;
    border-radius: 10px;
    height: 35px;
    width: 25vw;
    margin-right: 30px;
    border: none;
    box-shadow: #2B2B2C;

}

.button {
border-radius: 15px;
background: rgb(255,161,0);
background: linear-gradient(90deg, rgba(255,161,0,1) 0%, rgba(251,16,61,1) 100%);
padding: 10px 30px;
color: white;
font-weight: 700;
text-align: center;
border: none;
margin-top:10px;
}

/* RECOMENDACIONES */
.recomendaciones {
    height: 40vh;
    max-width: 1280px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 30px 40px;
    gap: 60px;
}

.recomendaciones h2{
    font-weight: 700;
    font-size: 1.3em;
    padding: 10px 40px;
    margin-bottom: 10px;
}

.cards {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 25px;
}

.card-recomendaciones{
    border: 5px solid #2B2B2C;
    background-color: #2B2B2C;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 0.7em;
    gap: 10px;
}

.info-card{
display: flex;
flex-direction: column;
font-weight: 300;
font-size: 1em;
}

.title-card {
    font-weight: 500;
}
.button-card {
    border-radius: 15px;
    background: rgb(255,161,0);
    background: linear-gradient(90deg, rgba(255,161,0,1) 0%, rgba(251,16,61,1) 100%);
    padding: 5px;
    color: white;
    text-align: center;
    border: none;
}

.precio-card {

    background: linear-gradient(90deg, rgba(255,161,0,1) 0%, rgba(251,16,61,1) 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 700;
    font-size: 1.2em;
}


/* CATEGORIAS */

.categorias {
    height: 40vh;
    max-width: 1280px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.categorias h2{
    font-weight: 700;
    font-size: 1.3em;
    padding: 10px 40px;
    margin-bottom: 10px;
}

.categorias-cards {
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
}

.card-categoria{
border: 5px solid #2B2B2C;
background-color: #2B2B2C;
border-radius: 10px;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
font-size: 0.7em;
padding: 10px;
}

.card-categoria:hover::after{
content: "__";
background: linear-gradient(90deg, rgba(255,161,0,1) 0%, rgba(251,16,61,1) 100%);
-webkit-background-clip: text;
color: transparent;
font-weight: 700;
font-size: 1.2em;
}

/*LOS MAS POPULARES */
.los-mas-populares{
height: 90vh;
max-width: 1280px;
color: white;
font-family: 'Montserrat', sans-serif;
padding: 10px 40px;
}

.los-mas-populares h2{
font-weight: 700;
font-size: 1rem;
padding: 0px 40px;
}

.cards-section-populares {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
gap: 10px;
}

.card-populares{
border: 5px solid #2B2B2C;
background-color: #2B2B2C;
border-radius: 10px;
display: flex;
flex-direction: column;
justify-content: space-between;
gap: 5px;
font-size: 0.7em;
}

.info-card-p{
display: flex;
flex-direction: row;
justify-content: space-between;
}

.button-card-p {
    width: 40%;
    border-radius: 15px;
    background: rgb(255,161,0);
    background: linear-gradient(90deg, rgba(255,161,0,1) 0%, rgba(251,16,61,1) 100%);
    padding: 5px;
    color: white;
    text-align: center;
    border: none;
}

/*FINAL*/

.final {
gap: 20px;
display: flex;
flex-direction: row;
text-align: center;
justify-content: center;
height: 10vh;
width: 100%;
color: white;
font-family: 'Montserrat', sans-serif;
text-decoration: none;
font-size: 0.8rem;
font-style: none;
}


.final a{
text-decoration: none;
color: white;
}


/*FOOTER*/

.footer h3 {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    font-weight: 100;
    padding: 20px;
    }

    .footer span{
    font-weight: 700;
    }

/*RESPONSIVE de 993 a 1400px MEDIDAS XL
@media (min-width:1065px) and (max-width:1400px){


}*/

/*RESPONSIVE de 993 a 1400px MEDIDAS L-XL*/
@media (min-width:993px) and (max-width:1110px){
/*header*/
.hero-part2{
    width: 100%;

}
.hero{
    justify-content: space-evenly;
    width: 100%;
}
.hero-part2>.hero-img1+.hero-img2{
    margin-left: -13%;
    margin-top: -3%;
        }  

.cards-section-populares{
width: 100%;
justify-content: center;

}
.los-mas-populares{
    height: 120vh;
}
}

/*RESPONSIVE de 841 a 992px MEDIDAS M*/
@media (min-width:841px) and (max-width:992px) {

.hero-img1{
height: 230px;
padding-left: 45px;
    }
.hero-part2>.hero-img1+.hero-img2{
margin-left: -15%;
margin-top: -3%;
    }  
.los-mas-populares{
 height: 130vh;
    }
    }

/*RESPONSIVE de 577 a 768pc MEDIDA S */
@media (min-width:577px) and  (max-width:840px){
    #buscador{
        width: 50vw;
    }
    .hero-part2 {
    display: none;
}
.hero{
    width:100%;
}
.hero-part1{
    width: 100%;
    font-size: 1.5rem;
}
.recomendaciones{
    height: 60vh;
}
.categorias{
    height: 90vh;
}

.categorias-cards {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

.cards {
    flex-wrap: wrap;
}
.los-mas-populares{
    height: 160vh;
}
}

/*RESPONSIVE XS */
@media (max-width: 584px){
    #buscador{
        width: 100vw;
    }
    .hero{
        justify-content: center;
        width: 100%;
    }
    .hero-part2 {
        display: none;
    }
    .hero-part1{
        width: 100%;
        font-size: 1rem;
    }
    .recomendaciones{
        height: auto;
        width: 100%;
        justify-content: center;
        padding: 15px 40px;
    }
    .categorias{
        height: auto;
        width: 100%;
        justify-content: center;
        padding: 15px 40px;
        
    }
    .categorias-cards {
        flex-wrap: wrap;
        padding: 20px;
    }
    .cards {
        flex-wrap: wrap;
    
    }
    .los-mas-populares{
        height: 300vh;
    }
}